name: Scalafmt

permissions: read-all

on:
  pull_request:
    branches: ['**']

jobs:
  build:
    name: Code is formatted
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - uses: sbt/setup-sbt@v1

      - run: sbt scalafmtSbtCheck "+ scalafmtCheckAll"
